{
  "extends": "airbnb",
  "rules": {
    "prefer-arrow-callback": "off",
    "prefer-template": "off",
    "react/button-has-type": "off",
    "arrow-parens": ["error", "as-needed"],
    "jsx-a11y/click-events-have-key-events": "off",
    "import/prefer-default-export": "off",
    "react/no-did-mount-set-state": "off",
    "react/jsx-first-prop-new-line": "always",
    "react/jsx-indent": "off",
    "jsx-a11y/heading-has-content": "off",
    "prefer-destructuring": [
      "error",
      {
        "array": false,
        "object": false
      },
      {
        "enforceForRenamedProperties": false
      }
    ],
    "object-curly-newline": "off",
    "dot-notation": "off",
    "global-require": "off",
    "no-console": "off",
    "linebreak-style": 0,
    "max-len": [
      "error",
      120,
      {
        "ignoreComments": true,
        "ignoreTrailingComments": true
      }
    ],
    "react/jsx-closing-bracket-location": [1, { "selfClosing": "line-aligned", "nonEmpty": "after-props" }],
    "react/prop-types": "off",
    "react/jsx-filename-extension": "off",
    "react/forbid-prop-types": "off",
    "jsx-a11y/no-noninteractive-element-interactions": "off",
    "jsx-a11y/href-no-hash": "off",
    "jsx-a11y/anchor-is-valid": [
      "warn",
      {
        "aspects": ["invalidHref"]
      }
    ],
    "jsx-a11y/label-has-for": "off"
  },
  "globals": {
    "document": true,
    "window": true,
    "componentHandler": true,
    "localStorage": true,
    "fetch": true,
    "Blob": true,
    "Event": true,
    "getComputedStyle": true
  }
}
